.component-inputfield {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 10px;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid rgba(238, 238, 238, 0.1);
  border-radius: 8px;
  background-color: inherit;
}

.component-inputfield-label-focused,
.component-inputfield-label-left-deco-focused,
.component-inputfield-label-unfocused,
.component-inputfield-label-left-deco-unfocused {
  position: absolute;
  background-color: 'inherit';
}

.input-right-deco {
}

.component-inputfield-label-focused {
  left: 12px;
  top: -4px;
  transition: left 0.15s linear, top 0.15s linear, transform 0.15s linear;
  background-color: inherit;
}

.component-inputfield-label-unfocused {
  left: 12px;
  top: 12px;
  transition: left 0.15s linear, top 0.15s linear, transform 0.15s linear;
}

.component-inputfield-label-left-deco-focused {
  left: 12px;
  top: -5px;
  transition: left 0.15s linear, top 0.15s linear, transform 0.15s linear;
  background-color: inherit;
}

.component-inputfield-label-left-deco-unfocused {
  left: 36px;
  top: 15px;
  background-color: inherit;
  transition: left 0.15s linear, top 0.15s linear, transform 0.15s linear;
}

.component-inputfield-input {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  line-height: 100%;
  vertical-align: text-top;
  appearance: none;
  background-color: inherit;
  border: none;
  outline: none;
  border-radius: 8px;
  color: var(--text-ui-text);
}

.cvc-input {
  font-size: 26px;
  -webkit-text-security: disc;
}

.component-inputfield-input:disabled {
  background-color: transparent;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  background: red;
  color: red;
  background-color: red;
  background-color: #fff;
}

.component-inputfield:hover {
  border: 1px solid var(--text-ui-text-secondary);
}

.component-inputfield:has(.component-inputfield-input:focus) {
  border: 1px solid var(--interation-ui-interation-primary-contrast);
}

.component-inputfield:invalid {
  border: 1px solid red;
}

.component-inputfield:has(.component-inputfield-input:disabled) {
  background-color: var(--background-ui-bg-elevated);
  border: 1px solid var(--border-ui-border);
}

.component-inputfield-error {
  border: 1px solid red;
}

@keyframes slideDownFadeOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(30px);
    opacity: 0;
  }
}

.slide-down-fade-out {
  animation: slideDownFadeOut 0.3s forwards;
}
